/* CSS file instructions*/


.wkn-main-content-container{
	max-width: 800px !important; 
	width: 95%;
    padding: 0px 10px;
    margin: 0 auto;
}

.wkn-main-content-wrapper {
	width: 100%;
    min-height: 80%;
    background-color: aqua;
}

.wkn-main-content-box {
    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 3px solid #696969;
    border-radius: 30px 20px;
    box-shadow: 2px 2px #F0F0FC;
}

.fa-map-marker {
    color: #696969;
}

.wkn-main-content-box>* {
    padding: 25px 50px;
}

.wkn-main-content h1 {
    float: left;
}

.wkn-main-content-box h3, .wkn-main-content-box h4{
    text-align: center;
    padding-bottom: 10px;
}

.wkn-nearby-place {
    border-top: 2px solid #696969;
    padding-top: 10px;
}

.wkn-nearby-place h3:first-child {
    text-align: justify;
}

.wkn-img-container img{
    border-radius: 50%;
    border: 2px solid #696969;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}




/*
.main-content {
    
}*/

/* END REGOLE HEADER */