/* CSS file instructions*/

/* START REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", Helvetica, "sans-serif";
    font-size: 16px;
    background: #FBFBFB;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
    max-height: 100%;
}

/* END REGOLE GENERALI */



/* START REGOLE HEADER */

.wkn-webpage {
    position: relative;
    width: 100%;
}

.wkn-header {
    min-height: 200px;
}

.wkn-main-content-container{
    width: 1300px;
    padding: 0px 10px;
    margin: 0 auto;
}


.wkn-main-content-box {
    width: 75%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 3px solid #696969;
    border-radius: 30px 20px;
    box-shadow: 2px 2px #F0F0FC;
}

.fa-map-marker {
    color: #696969;
}

.wkn-main-content-box>* {
    padding: 25px 50px;
}

.wkn-main-content h1 {
    float: left;
}

.wkn-main-content-box h3, .wkn-main-content-box h4{
    text-align: center;
    padding-bottom: 10px;
}

.wkn-nearby-place {
    border-top: 2px solid #696969;
    padding-top: 10px;
}

.wkn-img-container img{
    border-radius: 50%;
    border: 2px solid #696969;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.wkn-card-image img{
    width: 100%;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#wkn-postid {
    float: left;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background: #C6C6C6 !important;
    color: #000;
    border-radius: 15px;
    border: none;
    font-size: 50px;
    height: 80px !important;
    width: 80px !important;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    background: #4682B4 !important;
}

ol.carousel-indicators {
    position: relative;
    background: #C6C6C6;
}
/* END REGOLE HEADER */